body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #2e2f42;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #4d5ae5;
  text-decoration: none;
}
.logo-header {
  color: #2e2f42;
}
.logo-footer {
  color: #f4f4fd;
}

/* header */

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
}

.navbar {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 76px;
}

.navbar-list {
  display: flex;
  gap: 40px;
  margin-left: auto;

  font-weight: 500;
  color: #2e2f42;
}

.navbar-list-link {
  padding: 24px 0 24px;
  text-decoration: none;
  color: #2e2f42;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navbar-list-link:hover,
.navbar-list-link:focus {
  color: #404bbf;
}
.navbar-list-link.active {
  color: #404bbf;
}
.navbar-list-link.active::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.contacts {
  font-style: normal;
  color: #434455;
}

.contacts {
  display: flex;
  gap: 40px;
}
.contacts-list-link {
  text-decoration: none;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list-link:hover,
.contacts-list-link:focus {
  color: #404bbf;
}

/* header */

/* hero */

.section-one {
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  /* background-color: #2e2f42; */
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/img-name.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-one-title {
  max-width: 496px;
  margin-bottom: 48px;
  margin-right: auto;
  margin-left: auto;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;

  color: #ffffff;
  text-align: center;
}

.section-one-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;

  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-one-button:hover,
.section-one-button:focus {
  background-color: #404bbf;
}

/* section2 */

.section-two {
  padding: 120px 0 120px;
}

.section-two-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.section-two-list {
  display: flex;
  gap: 24px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.section-two-item {
  width: calc((100% - 72px) / 4);
}

.section-two-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.section-two-item-title {
  margin-bottom: 8px;
}

.section-two-paragraph {
  margin-bottom: 8px;
}

/* section-three */

.section-three {
  padding: 120px 0 120px;
  background-color: #f4f4fd;
}

.section-three-title {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.section-three-list {
  display: flex;
  gap: 24px;
  /* justify-content: center; */
}

.section-three-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;

  background-color: #ffffff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.section-three-item-text-wrapper {
  padding: 32px 0 32px;
}

.section-three-item-title {
  text-align: center;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.section-three-paragraph {
  text-align: center;
  margin-bottom: 8px;
}

/* section-four */

.section-four {
  padding: 120px 0 120px;
}

.section-four-title {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.section-four-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.section-four-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-four-item:hover {
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-four-item-image-wrapper {
  position: relative;
  overflow: hidden;
}

.section-four-item-image-wrapper:hover .section-four-item-description {
  transform: translateY(0);
}
.section-four-item-description {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-four-item-text-wrapper {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.section-four-item-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.section-four-paragraph {
}

/* footer */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
}

.footer-container {
  display: flex;
  gap: 16px;
  align-items: baseline;
}

.footer-about {
  margin-right: 120px;
}

.footer-link {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;
  color: #f4f4fd;
}

.footer-social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

/* socials-list */
.footer .socials-list {
  gap: 16px;
}
.socials-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.socials-list-item {
  width: 40px;
  height: 40px;
}
.socials-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus {
  background-color: #404bbf;
}
.socials-link-footer:hover,
.socials-link-footer:focus {
  background-color: #31d0aa;
}

.socials-svg {
  fill: #f4f4fd;
}
